

/* Color */


.banner-container {
  background-color: #ffc107;
  padding: 20px;
  text-align: left;
}

.banner-content img {
  max-width: 100%;
}
.banner-content form {
  text-align: right;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color:#ddd;
}

.container {
  display: flex;
  justify-content: center; /* จัดให้อยู่ตรงกลางแนวนอน */
  align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
}
.center-container {
  background-color: #f8f9fa;
  border: 1px solid #d6d8db;
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
  
}


.navbar { 
  background-color: #333;
  text-align: center;
}
.Click{
  border: 2px;
  width: auto;
  height: 80px;
  background-color: #333;
  color: #FFC107; 
}

.Click .ToClick a{
  color: #fff;
  text-decoration: none;/*เส้นต้ายออก*/
  font-size: 25px;
  padding: 50px 10px 50px 25px;
  line-height: 80px; /* ปรับระยะห่างตามความสูงของส่วน .Click */
}

main {
  padding: 20px;
}

.game-info {
  border: 1px solid #ddd;
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ddd;
}

.search-bar button {
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.game-card {
  border: 2px;
  width: 80%px;
  height: 100px;
  margin-bottom: 20px;
}

.game-card img {
  width: 100px;
  float: left;
  margin-right: 20px;
}

.game-card h3 {
  margin-top: 0px 0px 0px 2px;
}

.game-card p {
  margin-bottom: 0;
}

.booking-form {
  margin-top: 20px;
}

.booking-form input {
  padding: 10px;
  width: 200px;
  border: 1px solid #ddd;
}

.booking-form button {
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px;
}

/* เพิ่มเติม */

.game-card {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}

.game-card h3 {
  font-size: 18px;
}

.game-card p {
  font-size: 14px;
}

.booking-form h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.booking-form input {
  margin-bottom: 10px;
}

.booking-form button {
  width: 100px;
}

.booking {
  display: flex;
  justify-content: space-between; /* จัดเรียงองค์ประกอบให้กระจายอยู่ทั่วกรอบ */
  align-items: center; /* จัดให้องค์ประกอบอยู่กึ่งกลางตามแนวตั้ง */
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.actions {
  margin-top: auto; /* ให้ทำให้องค์ประกอบมีระยะห่างด้านบน (top) เท่ากับช่องว่างที่เหลือ */
}

