body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

h1 {
  margin: 0;
}

.main-container {
  display: flex;
  max-width: 1200px;
  margin: 2rem auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.categories-container {
  width: 30%;
  padding: 1rem;
  background-color: #f2f2f2;
}

.container {
  flex: 1;
  padding: 1rem;
}

/* ปรับแต่งสีของค้นหา */
.search-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.search-container input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container button {
  padding: 0.5rem 1rem;
  background-color: #ffc107;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #333;
  color: #fff;
}

/* ปรับแต่งสีของบอร์ดเกม */
.board-games {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.board-game {
  width: calc(33.333% - 1rem);
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.board-game img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* ปรับแต่งสีของหมวดหมู่ */
.categories h2 {
  color: #333;
}

.categories ul {
  list-style: none;
  padding: 0;
}

.categories li {
  margin-bottom: 0.5rem;
}

.categories a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.categories a.selected {
  color: #ffc107;
}

.categories a:hover {
  color: #ffc107;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #333;
  padding: 10px;
  text-align: center;
  width: 100%;
  color: #fff;;
}
