
.banner-container {
    background-color: #ffc107;
    padding: 20px;
    text-align: left;
}

.banner-content img {
    max-width: 100%;
}

.navbar { 
    background-color: #333;
    text-align: center;
}
    </style>
    
body {
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ffc107;
    color: #000000;
    padding: 1rem;
    text-align: center;
}

aside {
    background-color: #333333;
    float: left;
    width: 20%;
    height: 110vh;
    padding: 20px;
}

main {
    background-color: #ffc107;
    color: #33129e;
    text-align: center;
    margin-left: 150px;
    float: none;
    max-width: 100%;
    height: auto;
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: #333;
    padding: 10px;
    text-align: center;
    width: 100%;
    color: #fff;;
}

li{
    list-style-type: none;
    margin: 1px auto;
    padding: 5px;
    background-color: #dbdbdb;
}

li:hover{
    background-color: #ffc107;
    color: blue;
}