/* เพิ่มสไตล์ตามที่ต้องการ */
.banner-container {
    background-color: #ffc107;
    padding: 20px;
    text-align: left;
}

.banner-content img {
    max-width: 100%;
}

.navbar { 
    background-color: #333;
    text-align: center;
}

body {
    background-color: #fffef0;
    font-family: 'Arial', sans-serif;
    
}

.left-container{
    background-color: #f8f9fa;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc; /* เพิ่มเส้นขอบทั้งหมด */
    border-radius: 10px; /* เพิ่มขอบมนขอบ */
}


.center-container {
    background-color: #f8f9fa;
    border: 1px solid #d6d8db;
    padding: 200px;
    margin: 1px;
}


#resultProfileImageContainer {
    display: none;
    margin-top: 10px;
}

.style1 {
    border-top: 1px solid #000;
}

/* ปรับแต่งสไตล์ของหน้าโปรไฟล์ร้านบอร์ดเกม */
.container {
    margin-top: 0px;
}

.card {
    background-color: #ffffff; /* สีพื้นหลังของการ์ด */
    border: 1px solid #DDD; /* เส้นขอบของการ์ด */
    border-radius: 8px; /* มุมของการ์ด */
    margin-bottom: 10px; /* ระยะห่างระหว่างการ์ด */
}

.card-header{
    background-color: #ffc107; /* สีพื้นหลังของการ์ด */
    border: 1px solid #ffc107;
}

.btn-warning, .btn-danger {
    color: #333; /* สีข้อความของปุ่ม */
}

.btn-warning {
    background-color: #FFD700; /* สีพื้นหลังของปุ่มแก้ไข */
}

.btn-danger {
    background-color: #FF6347; /* สีพื้นหลังของปุ่มลบ */
}

.btn-warning:hover, .btn-danger:hover {
    background-color: #FFC125; /* สีพื้นหลังเมื่อนำเมาส์ไปวางบนปุ่ม */
}


.card-title, .form-label {
    user-select: none; /* ป้องกันการเลือกข้อความ */
}

.modal-close, .modal-dismiss {
    color: #333; /* สีข้อความของปุ่มปิดและปุ่มกากบาท */
}

.modal-close:hover, .modal-dismiss:hover {
    color: #FF6347; /* สีข้อความเมื่อนำเมาส์ไปวางบนปุ่มปิดและปุ่มกากบาท */
}