*{
    padding: 0%;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ddd;
  }
  
  header {
    background-color:#FFC107;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px; /* กำหนดความสูงเท่ากัน */
    padding: 40px 20px;
    margin: 0px 10px 0px 10px;
  }
  
  .nav-bar {
    float: right;
  }
  
  .nav-bar a {
    margin-right: 10px;
    text-decoration: none;
    color: #bf4141;
  }
  
  .nav-bar a:hover {
    color: #ccc;
  }
  
  .Click{
    border: 2px;
    width: auto;
    height: 80px;
    width: 100%;
    background-color: #333;
    color: #FFC107;
  }
  
  .Click .ToClick a{
    color: #fff;
    text-decoration: none;/*เส้นต้ายออก*/
    font-size: 25px;
    padding: 50px 10px 50px 25px;
    line-height: 80px; /* ปรับระยะห่างตามความสูงของส่วน .Click */
  }
  
  
  main {
    padding: 20px;
  }
  
  .game-info {
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
  }
  
  .search-bar button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .game-card {
    border: 2px;
    width: 80%px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .game-card img {
    width: 100px;
    float: left;
    margin-right: 20px;
  }
  
  .game-card h3 {
    margin-top: 0px 0px 0px 2px;
  }
  
  .game-card p {
    margin-bottom: 0;
  }
  
  .booking-form {
    margin-top: 20px;
  }
  
  .booking-form input {
    padding: 10px;
    width: 200px;
    border: 1px solid #ddd;
  }
  
  .booking-form button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px;
  }
  
  /* เพิ่มเติม */
  
  .game-card {
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
  }
  
  .game-card h3 {
    font-size: 18px;
  }
  
  .game-card p {
    font-size: 14px;
  }
  
  .booking-form h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .booking-form input {
    margin-bottom: 10px;
  }
  
  .booking-form button {
    width: 100px;
  }
  