.promotion{
    width: 100%;
    background-color: #333333;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.promotion-image{
    height: 5em;
    width:  5em;
    object-fit: cover;
}

#content {
    float:left;
    position:absolute;
    height:11%;
    width:60%;
    word-wrap: break-word;
    overflow-y: scroll;
}

p.detail {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}