/* เพิ่มสไตล์ตามที่ต้องการ
.banner-container {
    background-color: #ffc107;
    padding: 20px;
    text-align: left;
}

.banner-content img {
    max-width: 100%;
}

.navbar { 
    background-color: #333;
    text-align: center;
} */
body {
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* #txt-yellow{
    color: #ff0;
}

.txt-blue{
    color: #00f;
} */

header {
    background-color: #ffc107;
    color: #000000;
    padding: 1rem;
    text-align: center;
}

aside {
    background-color: #333333;
    float: left;
    width: 20%;
    height: 100vh;
    padding: 20px;
}

main {
    background-color: #ffc107;
    color: #33129e;
    text-align: center;
    margin-left: 150px;
    float: none;
    max-width: 100%;
    height: 100vh;
    padding: 20px;
}

footer {
    background-color: #dbdbdb;
    color: #33129e;
    padding: 5px 0px;
    text-align: right;
    position: fixed;
    bottom: 0;
    max-width: 100%;
}

li{
    list-style-type: none;
    margin: 1px auto;
    padding: 5px;
    background-color: #dbdbdb;
}

li:hover{
    background-color: #ffc107;
    color: blue;
}