.promotion{
    width: 100%;
    background-color: #333333;
    color: white;
    padding: 0.1%;
    border-radius: 0.1%;
}

.promotion-image{
    height: 5em;
    width:  5em;
    object-fit: cover;
}

#content {
    float:left;
    position:absolute;
    max-height: auto;
    width:60%;
    word-wrap: break-word;
    overflow-y: scroll;
}

p.detail {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

/* เพิ่มสไตล์ตามที่ต้องการ */
.banner-container {
    background-color: #ffc107;
    padding: 0.2%;
    text-align: left;
}

.banner-content img {
    max-width: 100%;
}

.navbar { 
    background-color: #333;
    text-align: center;
}

body {
    background-color: #fffef0;
    font-family: 'Arial', sans-serif;
}

.left-container{
    background-color: #f8f9fa;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc; /* เพิ่มเส้นขอบทั้งหมด */
    border-radius: 10px; /* เพิ่มขอบมนขอบ */
}

.center-container {
    background-color: #f8f9fa;
    border: 0.01% solid #d6d8db; /*1px*/
    padding: 0.2%; /*20px*/
}

#resultProfileImageContainer {
    display: none;
    margin-top: 0.1%; /*10px*/
}

.style1 {
    border-top: 0.01% solid #000;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}